[Desktop Entry]
Type=Application
Name=Linxira Software Center
Name[zh_CN]=Linxira 软件中心
Comment=Install reviewed Linxira software workflows
Comment[zh_CN]=安装经过审核的 Linxira 软件工作流
Exec=/usr/bin/linxira-software-center
Icon=system-software-install
Terminal=false
Categories=System;Settings;
