LABEL linxirastart
TEXT HELP
Start the Linxira OS Plasma live desktop on BIOS.
ENDTEXT
MENU LABEL ^Start Linxira OS (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% quiet splash

# Accessibility boot option
LABEL linxiraspeech
TEXT HELP
Start Linxira OS with the speakup screen reader.
ENDTEXT
MENU LABEL Start Linxira OS with ^speech (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on
